# Arquivo para ignorar arquivos e pastas no Git

# Pasta do Ambiente Virtual
/venv/

# Arquivos de configuração de ambiente (onde está a API Key)
.env

# Arquivos de cache do Python
__pycache__/
*.pyc

# Arquivos de log
/LOGS/

# Arquivos de configuração do VSCode
.vscode/

#arquivo json da api
config.json

# Arquivos de build do PyInstaller
/dist/
/build/
app_gui.spec